


.flexbox-container {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    min-width: small;
    min-height: 100%;
    background-color: #C2C5AA;
    color:#582F0E;
    font-weight: bold;
   padding-bottom:200px;

   
}

.flexbox-item {
    background-color:#656D4A;
    margin-bottom:20px;
    border-radius: 15px;
    padding:10px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    color:#C2C5AA;
    transition: all .5s ease-out;

    
}

.flexbox-item:hover{
    box-shadow: 10px 10px 20px #7F4F24;
}
.flexbox-item-1{
   display: flex;
   
   align-items: center;
   
}
.flexbox-item-2{
    display:flex;
    flex-wrap: wrap;
    
}

img {
    border-radius:15px;
}

.flexbox-item-3 {
    justify-content: start;
    flex-direction:column;
    flex-wrap:wrap;
}

.flexbox-submit{
    display:flex;
    justify-content: start;
    width:80%;
    
   
}

h1 {
    
    padding-top:20px;
}

.nav {
    gap: 30px;
}

table {
    
   max-width:60%;
   margin-left:15px;
   margin-right: 15px;
    background-color: lightgray;
    
    color:#582F0E;
    
    padding:5px;

}
thead {
    background-color: #936639;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.nav.nav-pills .nav-item .nav-link.active {
transition: all 1s ease-out;
background-color:#582F0E;
}

.nav.nav-pills .nav-item .nav-link.active:hover {
background-color:darkgrey;
color:#fff;
}

@media only screen and (max-width: 600px) {
    .nav{
        width:80%;
    
    }

    .nav-pills {
        flex-direction:column;
        width:100%;
    }
    .flexbox-container{
        align-items: start;
        
    }
    .flex-container, .flexbox-item-3, .flexbox-item-2  {
        margin-left:none;
        margin-right: none;
        padding-left:none;
        padding-right:none;
        width:80%;
        
      
    }
    .flexbox-item{
        margin-left:10px;
    }
    h1 {
        margin-left: 10px;
    }
    
}

body {
 min-width: 576px;   
 

}

.btn.btn-primary {
    background-color:#582F0E;
    transition: all 1s ease-out;
    box-shadow: 2px 2px 4px #582F0E;
    border-color: #fff;
}

.btn.btn-primary:hover {
    background-color:darkgrey;
color:#fff;
}


.table.caption-top caption {
    color:#C2C5AA;
}

h2 {
    padding-right:10px;
}
